@mixin flexCenter($arg: center) {
    display: flex;
    align-items: center;
    justify-content: $arg;
  }
  
  @mixin absCenter() {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  @mixin topCenter() {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }
  
  @mixin leftCenter() {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }
  